<%const publicPath = process.env.NODE_ENV === "production" ? "/portal/static" : ""%>
<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <meta charset="utf-8" />
  <title>My App</title>
</head>

<body>
  <div id="root"></div>

  <!-- <script src="<%=publicPath%>/libs/react.development.js"></script> -->
  <!-- <script src="<%=publicPath%>/libs/react-dom.development.js"></script> -->
</body>

</html>
